#include <windows.h>

IDI_ICON1	ICON	"D:\\KunYi\\VBESeries\\Windows\\Project\\VBESeries\\favicon.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,0,0,0
	PRODUCTVERSION 0,0,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE VFT2_UNKNOWN
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "000404b0"
			BEGIN
				VALUE "CompanyName", "鏄嗘槗锛堜笂娴凤級鐢靛瓙绉戞妧鏈夐檺鍏徃 //鍏徃鍚嶇О\0"
				VALUE "FileDescription", "Copyright 2023 The KUNYI. All rights reserved. //浜у搧瑙ｉ噴\0"
				VALUE "FileVersion", "0.0.0.0\0"
				VALUE "LegalCopyright", "//鐗堟潈\0"
				VALUE "OriginalFilename", "VBESeries.exe\0"
				VALUE "ProductName", "杞﹁浇浠ュお缃戣浆鎹㈡帶鍒惰蒋 //浜у搧鍚嶇О\0"
				VALUE "ProductVersion", "0.0.0.0\0"
				VALUE "InternalName", "\0"
				VALUE "Comments", "\0"
				VALUE "LegalTrademarks", "\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0004, 1200
		END
	END
/* End of Version info */

